<% for cocktail in @cocktails %>
<!--  I'm in the loop and dealing with each individual cocktail -->
  <%= cocktail.name  %>
  <hr>
  <br/>
<!-- for every ingredient that returns when I call cocktail.ingredient -->
  <% for cocktail_ingredient in cocktail.ingredients() %>
  <!-- give me the name, here the .ingredients is refering to the ing_list -->
    <p><%= cocktail_ingredient.ingredients().name  %>: <%= cocktail_ingredient.measure  %>ml</p>
    <!-- give me the measure -->
    
    
    
    <p>£<%= cocktail_ingredient.cost_per_measure()  %></p>
    <br/>
  <% end %>
  <%= cocktail.prep_description  %>
<hr/>
  <% for cocktail_ingredient in cocktail.ingredients() %>


  <% end %>
  <p>Total Cost Price: </p>
  <p>£<%= cocktail.total_cost()  %></p>
  <hr/>
<% end %>