<link rel="stylesheet" type="text/css" href="/styles/cocktail.css">


<% for cocktail in @cocktails %>

<div class="name">
  <h2><%= cocktail.name  %></h2>
</div>
 
 <div class="repeat_img">
 <div class="cocktail_img">
 </div>
  <div class="cocktail">
  <% for cocktail_ingredient in cocktail.ingredients() %>
    <p><%= cocktail_ingredient.ingredients().name  %>: <%= cocktail_ingredient.measure  %>ml</p>   
  <% end %>
  <hr/>
  <%= cocktail.prep_description  %>

</div>
  <% for cocktail_ingredient in cocktail.ingredients() %>


  <% end %>
  

  
  <div class="cost_price">
    <p>Total Cost Price: </p>
    <p>£<%= cocktail.total_cost()  %></p>
  </div>
  
<% end %>


</div>

