<link rel="stylesheet" type="text/css" href="/styles/cocktail.css">


<% for cocktail in @cocktails %>

<div class="name">
  <h2><%= cocktail.name  %></h2>
</div>
 
 <div class="trans">
  <div class="cocktail">

<!-- for every ingredient that returns when I call cocktail.ingredient -->
  <% for cocktail_ingredient in cocktail.ingredients() %>
  <!-- give me the name, here the .ingredients is refering to the ing_list -->
    <p><%= cocktail_ingredient.ingredients().name  %>: <%= cocktail_ingredient.measure  %>ml</p>
    <!-- give me the measure -->
    
  <% end %>
  <hr/>
  <%= cocktail.prep_description  %>

</div>
  <% for cocktail_ingredient in cocktail.ingredients() %>


  <% end %>
  

  
  <div class="cost_price">
    <p>Total Cost Price: </p>
    <p>£<%= cocktail.total_cost()  %></p>
  </div>
  
<% end %>

<div class="cocktail_img">
  
</div>
</div>

