<link rel="stylesheet" type="text/css" href="/styles/new_ingredient.css">

<h2>Update Stock</h2>

<div class="form-div">

<form method="post" action="/ingredients/<%= @ingredient.id %>">
  <label for="name">Ingredient Name:</label>
  <input id="name" type="text" name="name" value="<%= @ingredient.name %>">

  <br/>
  <br/>

  <label for="price_per_ltr">Price Per Ltr:</label>
  <input id="price_per_ltr" type="number" name="price_per_ltr" value="<%= @ingredient.price_per_ltr %>"/>

  <br/>
  <br/>

  <label for="is_alcoholic">Is the Ingredient Alcoholic?</label>
  <select id="is_alcoholic" name="is_alcoholic">
    <option value="t"<%="selected" if @ingredient.is_alcoholic == "Yes" %>>Yes</option>
    <option value="f"<%="selected" if @ingredient.is_alcoholic == "No" %>>No</option>
  </select>

  <br/>
  <br/>

  <label for="quantity">How many liters would you like to order?</label>
  <input id="quantity" type="number" name="quantity" value="<%= @ingredient.quantity %>" />

  <br/>
  <br/>

  <label for="mark_up">What is the mark up on this product?</label>
  <input id="mark_up" type="number" name="mark_up" value="<%= @ingredient.ingredient_mark_up %>">

  <br/>
  <br/>


  <input type="submit" value="Update Stock" />

</form>
</div>