<h1>In Stock</h1>

<table class = "table1">
  <tr>
    <th>Spirit</th>
    <th></th>
    <th>Price Per Ltr</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Cost Price</th>
    <th></th>
    <th>Sale Price</th>
    <th></th>
    <th>Profit</th>
    <hr/>
  </tr>
  
  <% for alc_ing in @alc_ingredients %>
  
    <tr>
      <td><%= alc_ing.name %></td>
      <td>|</td>
      <td>£<%= alc_ing.price_per_ltr %></td>
      <td>|</td>
      <td><%= alc_ing.quantity_level %></td>
      <td>|</td>
      <td>£<%= alc_ing.cost_price %></td>
      <td>|</td>
      <td>£<%= alc_ing.sale_price %></td>
      <td>|</td>
      <td>£<%= alc_ing.profit %></td>
      <td>|</td>
      <td>
        <form action="/ingredients/<%= alc_ing.id %>/delete" method="POST">
          <input class="bth btn--danger" type="submit" value="delete" />
        </form>
      </td>
    </tr>




  <% end %>
  <tr>  


 
</table>
  
  <hr/>

<table class = "table2">
  <tr>
    <th>Juice</th>
    <th></th>
    <th>Price Per Ltr</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Cost Price</th>
    <th></th>
    <th>Sale Price</th>
    <th></th>
    <th>Profit</th>
  </tr>

  <% for non_alc_ing in @non_alc_ingredients %>
    <tr>
      <td><%= non_alc_ing.name %></td>
      <td>|</td>
      <td>£<%= non_alc_ing.price_per_ltr %></td>
      <td>|</td>
     
      <td><%= non_alc_ing.quantity_level %></td>
      <td>|</td>
      <td>£<%= non_alc_ing.cost_price %></td>
      <td>|</td>
      <td>£<%= non_alc_ing.sale_price %></td>
      <td>|</td>
      <td>£<%= non_alc_ing.profit %></td>
      <td>|</td>
      <td>
        <form action="/ingredients/<%= non_alc_ing.id %>/delete" method="POST">
          <input class="bth btn--danger" type="submit" value="delete" />
        </form>
      </td>
    </tr>    

  <% end %>
</table>


<hr/>


<table class = "table3">
<tr>
  <th>Total Cost Price</th>
  <th></th>
  <th>Total Potential Profit</th>
  <th></th>
  </tr>
  <td>£<%= @total_cost_price %></td>
  <td>|</td>
  <td>£<%= @total_profit %></td>
</table>

